h1 {
  font-family: Arial;
  font-size: xx-large;
  font-weight: bold;
  color: #1E1E1E;
  background: #1CAA1C;
  text-align: center;
  padding: 4pt;
  border-top: solid;
  border-bottom: solid;
  position: relative;
}

h2 {
  font-family: Arial;
  font-size: x-large;
  font-weight: bold;
  color: #003459;
  background: #00FF00;
  text-align: center;
  padding: 3pt;
  border-top: inset;
  border-bottom: inset;
  position: relative;
}

h3 {
  font-family: Arial;
  font-size: large;
  font-weight: bold;
  color: #0000FF;
  background: #FF00FF;
  text-align: center;
  border-top: inset;
  border-bottom: inset;
  position: relative;
}

a {
  font-family: Arial;
  font-weight: bold;
  color: #0000FF;
  text-decoration: underline;
  position: relative;
}

a:link {
  font-family: Arial;
  font-weight: bold;
  color: #0000FF;
  text-decoration: underline;
  position: relative;
}

a:visited {
  font-family: Arial;
  font-weight: bold;
  color: #800080;
  text-decoration: underline;
  position: relative;
}

b {
  font-family: Arial;
  font-weight: bold;
  color: #800000;
  position: relative;
}

i {
  font-family: Arial;
  font-weight: bold;
  font-style: italic;
  position: relative;
}

li  {
  font-family: Arial;
  font-size: medium;
  color: #000080;
  position: relative;
}

p {
  font-family: Arial;
  font-size: 12pt;
  color: #000080;
  position: relative;
}

td {
  font-family: sans-serif;
  font-size: medium;
  background: #99CCCC;
}

th {
  font-family: sans-serif;
  font-size: medium;
  font-weight: bold;
  color: #FF0000;
  background: #FFFF00;
  text-align: center;
  position: relative;
}

pre {
  font-family: monospace;
  font-size: medium;
  background: #CCFFFF;
  position: relative;
  left: 1cm;
}

.first {
  border-top: thin;
  border-left: thin;
  position: relative;
}

.last {
  border-bottom: thin;
  border-right: thin;
}

.highlight {
  color: #FFFF00;
}

.ufo {
  font-family: monospace;
  font-size: large;
  color: #00FF00;
  background: #000000;
}
